html{
    font-size: 62%;
}

body{
    font-family: 'Inter', sans-serif;
    text-align: center;
    background: url(./quadros/amendoeira.jpg);
    font-size: 1.6rem;
}

section{ 
    background-color: #CB9C42;
    border-radius: 15px;
    text-align: center;
    margin: 10% auto;
    width: 42%;
    margin-left: 5%;
    height: 50vh;
    max-height: 320px;
    float: left;
    max-width: 500px;
}

#section1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#section2{
    width: 40%;
    margin-right: 5%;
}

section div{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 6.5rem;
    margin: 0px 6px;

    width: 40%;
    max-width: 120px;
    min-width: 10rem;

    height: 15vh;
    background-color: black;
    color: white;
    border: 2px solid  white;
}

h1{
    font-size: 2.5rem;
    color: white;
}


h3{
    font-size: 1.7rem;
}

button{
    margin-top: -4px;
    background-color: transparent;
    font-size: medium;
    color: white;
    width: 80px;
    height: 35px;
    margin-right: 15px;
    cursor: pointer;
    
    border-radius: 4px;
}

button:hover{
    background-color: rgba(240, 248, 255, 0.123);
    transform: scale(1.1);
}

footer{
    color: white;
    clear: both;
    
}
footer a{
    text-decoration: none;
    color: white;
    font-style: italic
}

@media (max-width: 800px){
    html{
        font-size: 50%;
    }
    section, #section2{
        float: none;
        clear: both;
        margin-top: 0px;
        width: 80%;
        margin: auto auto;
    }
}

@media (max-width: 420px){
    html{
        font-size: 47%;
    }
    section, #section2{
        float: none;
        clear: both;
        margin-top: 0px;
        width: 85%;
        margin: auto auto;
    }
    #section1{
        flex-direction: column;
    }
    #section1 div{
        margin-top: 1px;
    }
}